        *{
        margin:0;
        padding:0;
        box-sizing:border-box;
        }
        body{
            background-color: rgb(247, 230, 199);
            height: 100vh;
            width: 100vw;
            display:grid;
            padding: 10px;
            place-items: center;

            & .container{
                min-width: 200px;
                max-width: 80vw;
                padding: 20px;
                background-color: rgb(233, 198, 132);
                border-radius: 20px;
                box-shadow: 0px 0px 10px black;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;
                & h2{
                    font-size: 2rem;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    letter-spacing: 0.5px;
                }
                & p{
                    font-size: 1.2rem;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    letter-spacing: 1px;
                }
                & #btnJoke{
                    padding: 10px 20px;
                    border: none;
                    border-radius: 20px;
                    box-shadow: 0px 0px 10px black;
                    background-color: rgb(255, 166, 0);
                    color: rgb(0, 0, 0);
                    font-size: 1rem;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    cursor: pointer;
                    letter-spacing: 1px;
                    &:hover{
                        box-shadow: 0px 0px 10px rgb(46, 45, 45);
                    }
                }
            }
        }